<div class="grid grid-cols-[30%_70%] gap-6">
    <div class="overflow-hidden bg-green-500 shadow sm:rounded-lg">
        <div class="text-white px-4 py-5 sm:px-6">
            <div class="flex gap-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 12a2.25 2.25 0 00-2.25-2.25H15a3 3 0 11-6 0H5.25A2.25 2.25 0 003 12m18 0v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 9m18 0V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v3" />
                </svg>
                <h3 class="text-white font-semibold leading-6 text-gray-900"><b>Make</b> Transfer</h3>
            </div>
        </div>
        <div class="bg-white px-4 py-2">
            <h2 class="text-xl font-bold">Titulo</h2>
            <p class="text-base">Lorem ipsum...</p>
        </div>
    </div>

    <div class="overflow-hidden bg-green-500 shadow sm:rounded-lg">
        <div class="text-white px-4 py-5 sm:px-6">
            <div class="flex gap-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M6 4.75A.75.75 0 016.75 4h10.5a.75.75 0 010 1.5H6.75A.75.75 0 016 4.75zM6 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H6.75A.75.75 0 016 10zm0 5.25a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H6.75a.75.75 0 01-.75-.75zM1.99 4.75a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1v-.01zM1.99 15.25a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1v-.01zM1.99 10a1 1 0 011-1H3a1 1 0 011 1v.01a1 1 0 01-1 1h-.01a1 1 0 01-1-1V10z"
                        clip-rule="evenodd" />
                </svg>
                <h3 class="text-white font-semibold leading-6 text-gray-900">Transaction <b>List</b></h3>
            </div>
        </div>
        <div class="bg-white px-4 py-2">
            <h2 class="text-xl font-bold">Titulo</h2>
            <p class="text-base">Lorem ipsum...</p>
        </div>
    </div>
</div>